<ion-content>

  <div class="box">
      <a routerLink="/login">Sair</a>
  </div>

  <div class="name">Menu Principal
  </div>

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-button class="menu" href="diabetesmenu">Diabetes</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="menu" href="hypertensionmenu">Hipertensão</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="exit" href="login">Sair</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
 

</ion-content>