<ion-toolbar class="decor" color=primary>
  <ion-buttons slot="start">
    <ion-button href="hypertensionmenu">Voltar</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="text">
    <ion-text>

      <h1>Orientações</h1>

      <p> É recomendado realizar a medição em uma ambiente calmo e confortável, além de ser impressindível estar sentado
        de maneira correta, o braço deve estar apoiado na altura do coração e com a palma da mão para cima. </p>
      <p>Para realizar a medição da pressão arterial é importante não ter praticado exercício nos 60 min antecedentes,
        assim como não se dee ter ingerido bebidas alcoólicas ou estar sob fortes emoções.</p>
      <p>O controle glicêmico, assim como a utilização de insulina deve ser feita a partir de um acompanhamento médico.
      </p>
    </ion-text>
  </div>
</ion-content>