<ion-content>
  <div class="box"></div>

  <div class="logo">
    <img src="assets\img\Sowilo.png" alt="">
  </div>

  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="text">
          <ion-text>
            <p>Esqueceu a sua senha de acesso? </p>
            <p>Sem problemas! </p>
            <p>Enviariemos uma nova senha para você nesse email: </p>
          </ion-text>
        </div>
      </ion-col>

      <ion-row>
        <ion-col>
          <div class="recovery">
            <ion-item class="input" style="flex: 3 2" lines="none">
              <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email"></ion-input>
            </ion-item>
          </div>

          <ion-row>
            <ion-col>
              <div class="send">
                <ion-button class="button" expand="block" (click)="resetpassword()">
                  Enviar
                </ion-button>
              </div>
              <div>
                <ion-button class="back" expand="block" routerLink="login">
                  Voltar
                </ion-button>
              </div>
            </ion-col>
          </ion-row>