.box {
    width: 45px;
    min-height: 100%;
    display: block;
    background-color: #b1dde9;
    float: right;
}

img {
    width: 100px;
    display: block;
    margin-left: 80px;
    margin-right: auto;
    margin-top: 0px;
}

.text {
    margin: 30px 15px 0px 15px;
    color: #1b4581;
    font-family: Segoe UI;
    text-align: center;
}

.input {
    color: #1b4581;
    position: relative;
    width: 200px;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    color: #1b4581;
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    width: 150px;
    height: 40px;
    margin-left: 30px;
    margin-right: auto;
    margin-top: 10px;
}

.back{ color: #1b4581;
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    width: 100px;
    height: 40px;
    margin-left: 30px;
    margin-right: auto;
    margin-top: 10px;

}