<ion-content>

  <div class="box"></div>

  <div class="title">
    <h1>Diabetes</h1>
  </div>

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-button class="menu" href="dorientation">Orientação</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="menu" href="glycemic">Calendário</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button class="exit" href="menu">menu</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>