.box {
    width: 45px;
    min-height: 100%;
    display: block;
    background-color: #b1dde9;
    float: right;
}

h1 {
    margin-top: 70px;
    margin-left: 70px;
    font-size: 25px;
    font-family: sans-serif;
    color: #1b4581;
    font-weight: bold;
}

ion-grid {
    margin-top: 70px;
    margin-left: 40px;
}

.menu {
    margin-top: 10px;
    align-content: center;
    width: 150px;
    height: 90px;
    font-size: 17px;
    background-color: #b1dde9;
}

.menu #ps{
    font-size: 17px;
}

.exit {
    margin-top: 10px;
    margin-left: 40px;
    width: 70px;
    height: 60px;
    font-size: 17px;
    background-color: #b1dde9;
}
